<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		
		<!-- Connection Pool Size -->
		<property name="hibernate.connection.pool_size">1</property>
		
		<property name="hibernate.current_session_context_class">thread</property> 
		
		<!-- Disable second level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		
		<!-- show all sql queries on console -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- sql dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 
		
		<!-- Drop or re-create database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		
		<!-- mapping file --> 
		<mapping resource="employee.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>
